<!-- start custom footer snippets 
   <rigth>
  <a>
    <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="https://websmultimedia.com/contador-de-visitas.php?id=6195">
   </a>
  </rigth> 
 end custom footer snippets -->
<div id="sfcy22jnum9hzux1bddehtas6exypbe56pz"></div>
<script type="text/javascript" src="https://counter5.optistats.ovh/private/counter.js?c=y22jnum9hzux1bddehtas6exypbe56pz&down=async" async></script>
<br><a href="https://www.freecounterstat.com">contador visitas</a>
<noscript><a href="https://www.freecounterstat.com" title="page counter">
<img src="https://counter5.optistats.ovh/private/freecounterstat.php?c=y22jnum9hzux1bddehtas6exypbe56pz" border="0" title="page counter" alt="page counter"></a>
</noscript>
<a href="https://www.freecounterstat.com" title="page counter"><img src="https://counter5.optistats.ovh/private/freecounterstat.php?c=y22jnum9hzux1bddehtas6exypbe56pz" border="0" title="page counter" alt="page counter"></a>

