<!-- start custom footer snippets 
   <rigth>
  <a>
    <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="https://websmultimedia.com/contador-de-visitas.php?id=6195">
   </a>
  </rigth> 
 end custom footer snippets -->

<div id="sfce6kb7567772j92eea36jj9skxgxak1t8"></div>
<script type="text/javascript" src="https://counter5.optistats.ovh/private/counter.js?c=e6kb7567772j92eea36jj9skxgxak1t8&down=async" async>
</script><br>
<noscript>
   <a>
   <img src="https://counter5.optistats.ovh/private/contadorvisitasgratis.php?c=e6kb7567772j92eea36jj9skxgxak1t8" border="0" title="contador" alt="contador">
   </a>
</noscript>
