/* ==========================================================================
   Customized dark skin @BrandonFilth
   ========================================================================== */

/* Colors */
$background-color: #0a0b1a !default; //050d1a 262728 0a0b1a
$text-color: #F8F8F8 !default; //eaeaea
$primary-color: #FF0404 !default; //16c8d1 1BEAF5
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #42474e94 !default;
$code-background-color-dark: #0E1944  !default;  //mix(#0E1944, $background-color, 20%)
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: #44ffcbd1 !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

